<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wasif.seaiceapp" >
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- START Added for GCM -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.example.wasif.seaiceapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.wasif.seaiceapp.permission.C2D_MESSAGE" />

    <!-- <application -->
    <!-- android:allowBackup="true" -->
    <!-- android:icon="@mipmap/ic_launcher" -->
    <!-- android:label="@string/app_name" -->
    <!-- android:theme="@style/AppTheme" > -->
    <!--  -->
    <!-- </application> -->
    <!-- END Added for GCM -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        
        android:supportsRtl="true" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDE5r11y3X4wGWGefFy6X5oQAZDvVi_y88" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name=".MyBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".TextToSpeechActivity"
            android:label="@string/title_activity_text_to_speech" >
        </activity>
        <activity
            android:name=".SpeechToText"
            android:label="@string/title_activity_speech_to_text" >
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".InfoActivity"
            android:label="@string/title_activity_info" >


        </activity>

        <activity
            android:name=".GcmTestActivity"
            android:label="Test" >
        </activity>
        <activity
            android:name=".DataCollectionActivity"
            android:label="@string/title_activity_data_collection" >

        </activity>

        <!-- START Added for GCM -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.wasif.seaiceapp" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.MyGcmPushReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.GCMIntentService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <!-- END Added for GCM -->

        <activity
            android:name=".MemoList"
            android:label="@string/title_activity_memo_list" >
        </activity>
        <activity
            android:name=".MarkerDetails"
            android:label="@string/title_activity_marker_details"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".RaderIce"
            android:label="@string/title_activity_rader_ice" >
        </activity>
    </application>

</manifest>
